#
lbSbot/config/access.ts
lbSbot/lib/filter.ts

# dependencies
/node_modules

# folder
/bot_sessions
/checkFolder

# testing
/coverage

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.

# override
/commands/syt/override.json

# binarios
/bin/win/*
/bin/linux/*

# !bin/win/
# !bin/linux/
!bin/win/.gitkeep
!bin/linux/.gitkeep

